@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Cormorant+Garamond:ital,wght@0,400;1,400&display=swap');

.playfair {
  font-family: 'Playfair Display', serif;
}

.cormorant {
  font-family: 'Cormorant Garamond', serif;
}
